#sideBar {
    background-color: lightgreen;
    height: 100vh;
    width: 20%;
    color: #333;
}

#sideBar h1 {
    margin: 1rem;
}

#rightSide {
    background-color: #f2f2f2;
    width: 80%;
}

#mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#todoContainer {
    color: #333;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(187, 187, 233);
    height: 100vh;
}

#todoHeader {
    margin: 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
}



#textInput {
    margin: 0.5rem;
    height: 2rem;
    font-size: 14pt;
}

#addTodoButton {
    margin: 0.5rem;
    padding: 0.25rem;
    height: 2rem;
    font-size: 14pt;
}

#seeDoneButton {
    margin: 0.5rem;
    padding: 0.25rem;
    height: 2rem;
    font-size: 14pt;
    background-color: seagreen;
}

#seeTodoButton {
    margin: 0.5rem;
    padding: 0.25rem;
    height: 2rem;
    font-size: 14pt;
    background-color: rgb(227, 151, 10);
}

#todoItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(187, 187, 233);
}