/* #sideBar {
    background-color: lightgreen;
    height: 100vh;
    width: 20%;
    color: #333;
}

#sideBar h1 {
    margin: 1rem;
} */

#rightSide {
    background-color: #f2f2f2;
    width: 70%;
}

#mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#todoContainer {
    color: #333;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(187, 187, 233);
    height: 100vh;
}

#todoHeader {
    margin: 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
}



#textInput {
    margin: 0.5rem;
    height: 2rem;
    font-size: 14pt;
}

#addTodoButton {
    margin: 0.5rem;
    padding: 0.25rem;
    height: 2rem;
    font-size: 14pt;
}

#seeDoneButton {
    margin: 0.5rem;
    padding: 0.25rem;
    height: 2rem;
    font-size: 14pt;
    background-color: seagreen;
}

#seeTodoButton {
    margin: 0.5rem;
    padding: 0.25rem;
    height: 2rem;
    font-size: 14pt;
    background-color: rgb(227, 151, 10);
}

#todoItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(187, 187, 233);
}

/* From todoitem */
#todoContainer2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: pink;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 60%;
    border-radius: 2rem;
}

#textSide {
    width: 80%;
    font-size: 16pt;
    font-weight: bold;
}

#buttonSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* text-align: center; */
}

#buttonSide > input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

#buttonSide > input[type="checkbox"]:checked {
    background-color: seagreen;
}

#buttonSide > input[type="checkbox"]:checked::before {
    content: "\2714";
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0.2rem;
    vertical-align: bottom;
}

#textareaInput {
    color: white;
    font-size: 14pt;
}

#saveChangesButton {
    margin: 0.5rem;
    padding: 0.25rem;
    height: 2rem;
    font-size: 14pt;
    background-color: rgb(4, 124, 198);
}

#categorySection {
    margin: 1rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#categoryItem {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border-color: black;
    border-width: 0.1rem;
    border-style: solid;
}

#selectedCategoryItem {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5ff67;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border-color: black;
    border-width: 0.1rem;
    border-style: solid;
}

#text {
    padding: 0.25rem;
    font-size: 14pt;
    font-weight: bold;
}

#addCategoryButton {
    padding: 0.25rem;
    background-color: seagreen;
}

#categoryHeader {
    margin: 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
}

#categoryHeader > h1 {
    background-color: #f5ff67;
    margin: 0.5rem;
}